* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background: #212227;
    height: 100vh;
    padding: 2.5rem;
    width: 100%;
}

#content {
    background: #8693AB;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
    width: 100%;
}

#about-me-wrapper {
    padding: 5rem;
    border-radius: 2rem;
}

#about-me-wrapper {
    height: 100%;
    width: 100%;
    background: #fff;
}

#profile-pic {
    width: 100%;
}
